  :root {
    --landscape-width: 35; 
    --portrait-width: 80vw;
    --header-height: 4rem;
    --secs: 0.4s;
    --bg-right: rgb(72, 72, 67);
  }
  
  #layoutSidebar {
    display: flex; 
    overflow: hidden; 
  
    .header {
      position: relative;
      height: var(--header-height);
      text-align: end; // Horizontal center
      .title { position: absolute; left: 0; right: 0; }
    }
    .content {
      overflow: auto;
      box-sizing: border-box;
      height: calc(100vh - var(--header-height));
      padding: 1rem;
    }
  }
  
  #mainSidebar { flex-grow: 1;
    .header { background: linear-gradient(to right, var(--bg-left), var(--bg-right));
      @media (orientation: landscape) {
        .title { transition: left var(--secs), right var(--secs);
          &.left-closed { left: var(--header-height); }
          &.right-closed { right: var(--header-height); }
        }
      }
    }
  }
  
  #rightSidebar { transition: width var(--secs); width: 0;
    @media (orientation: landscape) {
      &.open { 
        width: calc(1% * var(--landscape-width));
        padding-right: calc(1vw * var(--landscape-width));
      }
    }
    .icon { position: fixed; z-index: 10;
      width: var(--header-height); height: var(--header-height);
      line-height: var(--header-height); font-size: var(--header-height);
      text-align: center; user-select: none; cursor: pointer;
    }
    .sidebar { transition: transform var(--secs); // <-- Portrait AND landscape!
      @media (orientation: portrait) { width: var(--portrait-width); }
      @media (orientation: landscape) { width: calc(1vw * var(--landscape-width)); }
      .header { width: calc(100% - var(--header-height)); }
    }
  }
    
  #rightSidebar { .icon { right: 0; }
    .sidebar { background: var(--bg-right);
      @media (orientation: portrait) {
        &.open { transform: translateX(-100%); }
      } 
    }
  }