body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  height: 100vh;  
  background-color: #282c34 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.control-shadow{
  box-shadow: 0 0 8px #60606075;
  border-color: #9ba0a6 !important;
}
.border-dashed{
  border : 3px dashed #dee2e6 !important;
}
.expand-child > * {
  width: 100% !important;
}
.soft-shadow{
  box-shadow: 0 0 4px #fff3;
}
.confirm-me{
  filter: grayscale(80%) blur(4px);
}